// Import Mixin and Custom Libs
@import "../../../scss/__mixins/mq";
@import "../../../scss/__mixins/rg";
@import "../../../scss/__mixins/mixins";
@import "../../../scss/__base/colours";


.page-home {

    .new-color {
        color: $color-blue;
        transform: translate(50px, 100px);
        display: inline-block;
        font-size: 30px;
    }
}